body {
    margin:0 auto;
    background-image: url("7-copy.jpeg");
    background-size: cover;
}


.nav-right{
    display: flex;
    position: fixed;
    top: 2%;
    right: 1%;
    width: 25%;
    justify-content: space-around;
}

.nav-left{
    display: flex;
    position: fixed;
    top: 2%;
    left: 1.5%;
}

.nav-right a, .nav-left a {
    color: white;
    font-size: 1.5rem;
    font-family: 'Arvo';
    font-weight: 100;
}

.main{
    box-sizing: border-box;
    width: 49%;
    margin: 0 auto;
    margin-top: 18%;
    margin-bottom: 0%;
}

.main h1 {
    text-align:center;
    font-size: 4rem;
    color: black;
    font-family:'Arvo';
    font-weight: 900;
}


 a {
    text-decoration: none;
 }

 /*Typing animation */
 #text, #normal{
	display: inline-block;	
    color: black;
    letter-spacing: 2px;
    font-family:'Arvo';
    font-size: 2rem;
    margin-top: -3%;
}

#text {
    color:#001eff;
}
 
#line {
    margin: 0 auto;
    text-align: center;
}




#cursor {
	display: inline-block;
	vertical-align: middle;
    width: 0.1rem;
	height: 2rem;
    background-color: #001eff;
    margin-top: -3%; 
}

@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color: black; 
	}
}

