body {
    margin:0 auto;
    background-image: url("/Users/sanjusathiyamoorthy/Desktop/Portfolio/resources/7.jpg");
    background-size: cover;
}

.main{
    box-sizing: border-box;
    background-color: brown;
    width: 45%;
    margin: 0 auto;
    margin-top: 20%;
}

.main h1 {
    text-align:center;
    font-size: 4rem;
    color: black;
}

/* wonky line font size */
.main p, #text {
    display: inline;
    font-size: 2rem;
    font-family: Verdana, Tahoma, sans-serif;
}





/*Typing animation */
#text {
	display: inline-block;
	vertical-align: middle;
	color: black;
    letter-spacing: 2px;
    margin-bottom: 1.1rem;
    margin-left: 0.4rem;
}

#cursor {
	display: inline-block;
	vertical-align: middle;
	width: 0.1rem;
	height: 2rem;
    background-color: black;
    margin-bottom: 1.1rem;
	/*animation: blink .3s step-end infinite;*/
}

@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color: black; 
	}
}


